*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:  #7092BC;
}
.cake {
    width: 800px;
    height: 800px;
    background: rgb(255, 218, 117);
    position: relative;
    background-image: url('ciastko.png');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
  }

.container {
  width: 800px;
  height: 800px;
  background-color: #8b8b8b;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 20%;
  
}
.candle1-flame, .candle2-flame, .candle3-flame {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: yellow;
  opacity: 0.5;
  border-radius: 0 50% 50% 50%;
  transform: scale(0) rotate(45deg);
  bottom: 110px;
  left: -0.5px;
}

.candle1:hover .candle1-flame, .candle2:hover .candle2-flame, .candle3:hover .candle3-flame {
  animation: flame 0.5s alternate infinite, enlargeFlame 0.5s forwards, shortFlame 0.5s forwards;
}

.candle1 {
    background: repeating-linear-gradient(
        45deg,
    );
    position: absolute;
    margin: auto;
    bottom: 600px;
    left: 50%;
    margin-left: -30px;
    border-radius: 2px 2px 0 0;
    
    
}

.candle1:after {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: yellow;
    border-radius: 0 50% 50% 50%;
    transform: scale(0) rotate(45deg);
    bottom: 110px;
    left: -0.5px;
    animation: flame  forwards;
    
}
@keyframes flame {
  0% {
    transform: scale(1) rotate(45deg);
  }
}

.candle1:hover .candle1-flame {
  animation: enlargeFlame 1s infinite alternate, shortFlame 1s infinite alternate;
}


@keyframes enlargeFlame {
  0% {
    transform: scale(2) rotate(45deg);
  }
  100% {
    transform: scale(1) rotate(45deg);
  }
}

@keyframes shortFlame {
  0% {
    transform: scale(1) rotate(45deg);
  }
  100% {
    transform: scale(2) rotate(45deg);
  }}

.candle2 {
    background: repeating-linear-gradient(
        45deg,
      );
      position: absolute;
      margin: auto;
      left: 50%;
      margin-bottom: 600px;
      margin-left: -175px;
      bottom: 0;
      border-radius: 2px 2px 0 0;   
}

  .candle2:after {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: yellow;
    border-radius: 0 50% 50% 50%;
    transform: scale(0) rotate(45deg);
    bottom: 110px;
    left: -0.5px;
    animation: flame forwards;
  }
  @keyframes flame {
    0% {
      transform: scale(0) rotate(45deg);
    }
  }
  .candle2:hover .candle2-flame{
    animation: enlargeFlame 1s infinite alternate, shortFlame 1s infinite alternate;
  }




.candle3 {
    background: repeating-linear-gradient(
        45deg,
      );
      position: absolute;
      margin: auto;
      left: 50%;
      margin-bottom: 600px;
      margin-left: 125px;
      bottom: 0;
      border-radius: 2px 2px 0 0;
      
    
}
  .candle3:after {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 0, 0.87);
    border-radius: 0 50% 50% 50%;
    transform: scale(0) rotate(45deg);
    bottom: 110px;
    left: -0.5px;
    animation: flame forwards;

  }
  @keyframes flame {
    100% {
      transform: scale(1) rotate(45deg);
    }
  }
  .candle3:hover .candle3-flame{
    animation: enlargeFlame 1s infinite alternate, shortFlame 1s infinite alternate;
  }